include LICENSE
include README
include ChangeLog
include conf/models/example.lmf
include conf/shine.conf
include conf/storage.conf
include conf/tuning.conf.example
include conf/cache/README
include scripts/shine
include scripts/shine.init.redhat
include doc/shine.1
include doc/shine.conf.5
include doc/extras/vim/syntax/shine*.vim
include doc/extras/vim/ftdetect/shine.vim
