[project]
	description = Mirror of Git tree on SourceForge: https://sourceforge.net/p/lustre-shine/git/
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aurelien Degremont (degremont)
[access "refs/for/refs/*"]
	read = group user/Aurelien Degremont (degremont)
	push = group user/Aurelien Degremont (degremont)
	label-Code-Review = -2..+2 group user/Aurelien Degremont (degremont)
	label-Verified = -1..+1 group user/Aurelien Degremont (degremont)
	rebase = group user/Aurelien Degremont (degremont)
	removeReviewer = group user/Aurelien Degremont (degremont)
	submit = group user/Aurelien Degremont (degremont)
[access "refs/heads/*"]
	read = group user/Aurelien Degremont (degremont)
	create = group user/Aurelien Degremont (degremont)
	push = +force group user/Aurelien Degremont (degremont)
	pushMerge = group user/Aurelien Degremont (degremont)
[access "refs/tags/*"]
	push = +force group user/Aurelien Degremont (degremont)
	createTag = group user/Aurelien Degremont (degremont)
	createSignedTag = group user/Aurelien Degremont (degremont)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
