#
# Shine Example Tuning File
#

# Alias line
# ----------
#
#   alias <name>=<path>
#
# <name>: Alias name which will be used in tuning declarations.
#
# <path>: Path it refers to, which should be tuned.
#
#
# Tuning line
# -----------
#
#   <value>  <alias>  <targets>
#
# <value>: Content to set in the provided alias. Could be quoted with
# double-quotes.
#
# <alias>: Alias previously defined where value will be echoed.
#
# <targets>: Could be a mix of node type and node names,
#            separated by ';'.
#            Supported node type: MGS, MDS, OSS, CLIENT, CLT, ROUTER, RTR
#            ie:  MDS;OSS;foo[1-5]

#
# Alias declarations
#
alias debug=/proc/sys/lnet/debug
#alias max_rpcs_in_flight=/proc/fs/lustre/osc/*${ost}*/max_rpcs_in_flight

#
# Tuning parameters
#
"-all"     debug               MGS;MDS;OSS;ROUTER;CLT
#32         max_rpcs_in_flight  CLT
